<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="FlavaGymn.Properties.Settings.flavaGymnConnectionString"
      connectionString="Data Source=LAPTOP-BQEQ6GDH\SQLEXPRESS;Initial Catalog=flavaGymn;Integrated Security=True"
      providerName="System.Data.SqlClient" />
<!-- Connetion String adde by Okunsanya Smith-->
    <add name ="connstrng" connectionString ="Data Source=LAPTOP-BQEQ6GDH\SQLEXPRESS;Initial Catalog=FlavaSolutionsGymn;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <!--End of Connection String added by Me-->
    <add name="flavaGymnEntities" connectionString="metadata=res://*/flavaGymnDBEnt.csdl|res://*/flavaGymnDBEnt.ssdl|res://*/flavaGymnDBEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities1" connectionString="metadata=res://*/FlavadbEnt.csdl|res://*/FlavadbEnt.ssdl|res://*/FlavadbEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities2" connectionString="metadata=res://*/FlavaEnt.csdl|res://*/FlavaEnt.ssdl|res://*/FlavaEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities3" connectionString="metadata=res://*/FlavaEntt1.csdl|res://*/FlavaEntt1.ssdl|res://*/FlavaEntt1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities4" connectionString="metadata=res://*/FlavaEnt2.csdl|res://*/FlavaEnt2.ssdl|res://*/FlavaEnt2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities5" connectionString="metadata=res://*/FlavaEnt3.csdl|res://*/FlavaEnt3.ssdl|res://*/FlavaEnt3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities6" connectionString="metadata=res://*/FlavatechEntity.csdl|res://*/FlavatechEntity.ssdl|res://*/FlavatechEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities7" connectionString="metadata=res://*/InstructorEntF.csdl|res://*/InstructorEntF.ssdl|res://*/InstructorEntF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities8" connectionString="metadata=res://*/InstructorEnt.csdl|res://*/InstructorEnt.ssdl|res://*/InstructorEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities9" connectionString="metadata=res://*/InstructorEnt.csdl|res://*/InstructorEnt.ssdl|res://*/InstructorEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="flavaGymnEntities10" connectionString="metadata=res://*/RolesEnt.csdl|res://*/RolesEnt.ssdl|res://*/RolesEnt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=flavaGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FlavaSolutionsGymnEntities" connectionString="metadata=res://*/NewFlavaGymn.csdl|res://*/NewFlavaGymn.ssdl|res://*/NewFlavaGymn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-BQEQ6GDH\SQLEXPRESS;initial catalog=FlavaSolutionsGymn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FlavaGymn.Properties.Settings.FlavaSolutionsGymnConnectionString"
      connectionString="Data Source=LAPTOP-BQEQ6GDH\SQLEXPRESS;Initial Catalog=FlavaSolutionsGymn;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>